@font-face {
  font-family: "josefinSans";
  src: url("../assets/fonts/josefinSans.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto.ttf");
}

.josefin-font {
  font-family: "josefinSans", sans-serif !important;
}

.roboto-font {
  font-family: "roboto", sans-serif !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
  border: none;
}

.ant-tabs-nav {
  margin: 0px !important;
}

.ant-tabs-nav .ant-tabs-tab .ant-tabs-tab-btn {
  color: rgb(107 114 128) !important;
  font-size: large;
  font-family: "roboto", sans-serif;
  letter-spacing: 0.5px;
}

.ant-tabs-nav .ant-tabs-tab-active .ant-tabs-tab-btn {
  color: rgb(156 163 175) !important;
}

.ant-tabs-nav .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
  background-color: rgb(156 163 175) !important;
  height: 04px !important;
}

.ant-tabs-nav-list {
  width: 100%;
  justify-content: space-between;
}

.ant-tabs-tab {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: 0px !important;
}

.leftSection {
  width: 400px;
}

.contact_list > li:nth-of-type(1) > div:nth-of-type(2),
.groups_list > li:nth-of-type(1) > div:nth-of-type(2) {
  border-top: none !important;
}

.contact_list,
.groups_list {
  height: calc(100vh - 135px);
  overflow: auto !important;
}

.contact_list::-webkit-scrollbar,
.groups_list::-webkit-scrollbar {
  background: transparent !important;
  width: 8px !important;
}

.contact_list::-webkit-scrollbar-thumb,
.groups_list::-webkit-scrollbar-thumb {
  background: rgb(156 163 175) !important;
  border-radius: 15px;
}

.MessageSec > header {
  height: 72px;
  box-shadow: 0px 1px 12px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000;
}

.MessageSec > footer {
  height: 72px;
  box-shadow: 0px -1px 12px 0px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1000;
}

.contacts_loading,
.groups_loading,
.zeroContactMsg {
  height: calc(100vh - 160px);
}

.allMsgsParentDiv {
  height: calc(100vh - 144px);
  overflow: auto !important;
}

.msg_parent_div {
  height: 157px;
}

.msg_style {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.outgoingMsg .msg_style {
  border-top-right-radius: 0px !important;
  margin-right: 28px;
  background-color: rgb(203 213 225);
  align-self: self-end !important;
}

.outgoingMsg .msg_style > p {
  color: rgb(23 37 84);
}

.incomingMsg .msg_style > p {
  color: rgb(203 213 225);
}

.incomingMsg .msg_style > .sendTime {
  color: rgb(156 163 175);
}

.outgoingMsg .msg_style > .sendTime {
  color: rgb(107 114 128);
}

.incomingMsg .msg_style {
  border-top-left-radius: 0px !important;
  margin-left: 28px;
  background-color: rgb(23 37 84);
  align-self: self-start !important;
}

.msg_style::after {
  content: "";
  height: 25px;
  width: 15px;
  position: absolute;
  top: 0;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    78% 17%,
    57% 33%,
    65% 27%,
    43% 44%,
    0% 75%
  );
}

.incomingMsg {
  flex-direction: row-reverse;
}

.outgoingMsg .msg_style::after {
  right: -12px;
  background-color: rgb(203 213 225);
}

.incomingMsg .msg_style::after {
  left: -12px;
  transform: rotateY(180deg);
  background-color: rgb(23 37 84);
}

.incomingMsg div:nth-of-type(2) > div {
  background-color: rgb(203 213 225);
  color: rgb(23 37 84);
}

.outgoingMsg div:nth-of-type(2) > div {
  background-color: rgb(23 37 84);
  color: rgb(203 213 225);
}

.MessageSec > section::-webkit-scrollbar,
.ant-drawer-body::-webkit-scrollbar {
  background: transparent !important;
  width: 8px !important;
}

.MessageSec > section::-webkit-scrollbar-thumb,
.ant-drawer-body::-webkit-scrollbar-thumb {
  background: rgb(23 37 84) !important;
  border-radius: 15px;
}

.ant-select-selection-item {
  height: fit-content !important;
  padding: 5px !important;
}

.ant-select-selector {
  border: none !important;
  box-shadow: none !important;
  border-radius: 12px !important;
}

.ant-select-selector::placeholder {
  color: rgb(107 114 128) !important;
}

.ant-select-focused .ant-select-selector {
  border: 2px solid rgb(107 114 128) !important;
  box-shadow: none !important;
}

.red_membersSelect_border .ant-select-selector {
  border: 2px solid rgb(153 27 27) !important;
}

.profile_drawer input,
.info_drawer input {
  width: 95%;
  background-color: transparent;
  font-family: "roboto", sans-serif;
  font-size: 20px;
}

.profile_drawer input::placeholder,
.info_drawer input::placeholder {
  font-size: 17px;
  font-weight: 400;
}

.avatar {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.chatSecBackBtn {
  display: none !important;
}

.ant-drawer {
  z-index: 1500 !important;
}

.ant-popconfirm {
  z-index: 3000 !important;
}

.ant-popover svg,
.ant-popconfirm-buttons button:nth-of-type(2) {
  color: red !important;
}

.ant-popconfirm-buttons button:nth-of-type(2) {
  background-color: whitesmoke !important;
  color: red !important;
}

.ant-select-selector {
  min-height: 60px !important;
}

@media only screen and (max-width: 800px) {
  .rightSection {
    width: 100%;
  }
  .hideRightSection {
    display: none !important;
  }
  .leftSection {
    width: 100%;
  }
  .hideLeftSection {
    display: none !important;
  }
  .showLeftSection {
    display: block !important;
  }
  .showRightSection {
    display: block !important;
  }
  .chatSecBackBtn {
    display: block !important;
  }
  .msgInput {
    margin-left: 5px !important;
    margin-right: 5px !important;
  }
  .msgSendBtn {
    margin-right: 5px !important;
  }
  .emojiPickerBtn {
    margin-left: 5px !important;
  }
  .ant-drawer-body {
    padding: 10px !important;
  }
  .msg_style {
    width: 90% !important;
  }
}
