@font-face {
  font-family: "josefinSans";
  src: url("../assets/fonts/josefinSans.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/Roboto.ttf");
}

.josefin-font {
  font-family: "josefinSans", sans-serif !important;
}

.roboto-font {
  font-family: "roboto", sans-serif !important;
}

.contactListSec {
  width: 420px;
}

.contactListSec > header > div:nth-of-type(2) > input {
  font-family: "josefinSans", sans-serif;
}

.contact_list > li:nth-of-type(1) > div:nth-of-type(2) {
  border-top: none !important;
}

.contact_list_scroll {
  height: calc(100vh - 135px);
  overflow: auto !important;
}

.MessageSec > header {
  height: 72px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}

.MessageSec > footer {
  box-shadow: 0 5px 6px 10px rgba(0, 0, 0, 0.12), inset 0 -1px 0 0 #dadce0;
}
