@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-width: 360px;
  max-width: 1700px;
  margin: 0px auto;
}

.ant-spin-dot-item {
  background-color: white !important;
}

.ant-modal-content {
  background-color: rgb(203 213 225) !important;
}

button:disabled {
  cursor: not-allowed !important;
}

.autofill_input_bg_white:-webkit-autofill,
.autofill_input_bg_white:-webkit-autofill:hover,
.autofill_input_bg_white:-webkit-autofill:focus,
.autofill_input_bg_white:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset;
}